/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

nav ul li {
	font-weight: bold;
    margin: .5rem 0rem 0rem;
	list-style: none;
    color:  #3a80ab;
    font-size: 1.2rem;
	}

    h1 {
        max-width: 7rem;
        margin-bottom: 2rem;
    }

    a:visited {
        color: #3a80ab;
        padding: .5rem .5rem .5rem;
    }

    a {
        text-decoration: none;
        color:#3a80ab;
        }

div.container, div.home-container {
    /* background-color: #ffffff; */
    max-width: 35em;
    margin: 0 auto;
    padding: 1em;
}

h1 {
	font-size: 3em;
	width: 100;
    color:  #3a80ab;
	/* margin: .5rem 1rem .5rem; */
	}

h2, h3, h4 {
		font-weight: bold;
        color:  #3a80ab;
	}


h2 {
	font-size: 4em;
	margin: 3rem 0rem .5rem;
	}
	
h3 {
	font-size: 1.5em;
    margin: 0rem 0rem .5rem;
}

h4 {
	font-size: 1.1em;
    margin: 0rem 0rem .5rem;
    border-top: .1rem solid #3a80ab;
    margin-top: 3rem;
}

p {
	font-size: 1.2em;
	margin: 0.5rem .5rem 0.5rem;
}


section.soccer {
    background-color:  #fafafa;
}
/* main {
    background-color: #d1d0fb;
} */

footer {
    color:  #ffffff;
    background-color: #4c789a;
    /* margin: 2em 0em 0em; */
    box-sizing: border-box;
    padding: .5rem 0rem .5rem;
}

/* img {
    margin: 3em 0em 3em;
} */

body {
    font-family: sans-serif;
}

figcaption {
    margin: .5em 0em 0em;
    font-style: italic;
    font-family: sans-serif;
    margin: .2rem .5rem 1em;
    color: #888;
}

/* section.main {
    background-color: #d1d0fb;
} */

aside {
    background-color: #d1d0fb;
}

@media screen and (min-width:40em) {

    div.container, div.home-container {
        margin: auto;
        max-width: 40em;
      }
      textarea {
        display: 100%;
        width: 35em;
      }


  ul {
        display: flex;
        flex: wrap;
      }
      nav ul li {
        font-weight: bold;
        margin: 1em 0rem 0rem 1rem;
        list-style: none;
        color:  #3a80ab;
        font-size: 1.2rem;
        display: inline;
        }
}

@media only screen and (min-width: 60em) {

div.home-container{
    max-width: 80em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
}




div.container{
    max-width: 60em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
}

div.container aside{
margin-top: 0;
}




header, footer {
    grid-column: 1/3;
}

div.home-container main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

div.home-container aside{
background: none;
padding: 0;
margin-top: 0;
}


section.mainstory {
    grid-column: 2/4;
    grid-row: 1/3;
    display: flex;
    /* flex-direction: column; */
}

section.mainstory a {
    display: flex;
    flex: 1 0 12em;
    flex-direction: column;
}

/* section.mainstory figure {
    display: flex;
    flex: 1 0 12em;
    background: #ff0;
} */

section.mainstory a figure {
    flex: 1 0 12em;
    display: flex;
    background: #ff0;
}


section.mainstory a figure img {
    object-fit: cover;
}

section.mainstory a h2 {
    flex: 0 0 1em;
}

section.mainstory a p {
    flex: 0 0 4em;
}







section.secondary {
    display: flex;
}

section.secondary a {
    flex: 1 0 12em;
    display: flex;
    flex-direction: column;
}

section.secondary figure {
    display: flex;
      flex: 1 0 12em;
}


section.secondary a figure {
    flex: 1 0 12em;
    background: #ff0;
    display: flex;
}

section.secondary a figure img {
    object-fit: cover;
}

section.secondary a h2 {
    flex: 0 0 1em;
}

section.secondary a p {
    flex: 0 0 4em;
}

}